@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

body {
    font-family: "Nunito Sans", serif;
    color: white;
    background-color: black;
}

.code-error {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
}

.container {
    display: table;
    height: 100%;
    width: 100%;
}

.container .row {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.container .row-svg {
    text-align: right;
}

.container .row-svg object {
    width: 75%;
}

.home_button {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    border: 4px solid white;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
    color: white;
    outline: transparent;
}

.home_button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: white;
    z-index: -1;
    -webkit-transition: 0.2s ease;
    transition: 0.5s ease;
}

.home_button:hover {
    color: black;
    background: white;
    -webkit-transition: 0.2s ease;
    transition: 1s ease;
}

.home_button:hover:before {
    width: 100%;
}