@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

main {
    height: 100%;
    width: 100%;
    font-family: "Nunito Sans", serif;
}

body {
    height: 100%;
}

.code-error {
    font-size: 15vh;
    margin: 1.5vh 0px;
    font-weight: bold;
}

.row-text h2 {
    font-size: 1.5vw;
    margin: 0;
}

.row-text p {
    font-size: 0.95vw;
}

.container {
    display: table;
    height: 100%;
    width: 100%;
}

.container .row {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.container .row-svg {
    text-align: right;
}

.container .row-svg object {
    width: 40vw;
}

.home_button {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 0.3vw 3vw;
    border-radius: 3vw;
    border: 0.3vw solid white;
    cursor: pointer;
    font-size: 2vh;
    letter-spacing: 0.2vh;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 0.5vh 0;
    color: white;
    outline: transparent;
}

.home_button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    -webkit-transition: 0.2s ease;
    transition: 0.5s ease;
    outline: transparent;
}

.home_button:hover {
    color: black;
    background: white;
    -webkit-transition: 0.2s ease;
    transition: 1s ease;
}

.home_button:hover:before {
    width: 100%;
}