@font-face {
    font-family: "rus road page";
    src: url("../assets/fonts/Rus-Road-Rage.ttf");
}

main .container {
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
}

main .container .photo {
    width: 100%;
    text-align: center;
}

main .container .photo img {
    border-radius: 50%;
    width: 20%;
    box-shadow: 0 0 2.3vw 0.2vw antiquewhite;
}

main .container .title {
    width: 100%;
    text-align: center;
}

main .container .title p {
    font-family: "rus road page", serif;
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-size: 10vh;
}

main .container .text {
    margin: 5vh auto 0;
    width: 50%;
    text-align: justify;
}

main .container .text h2 {
    font-size: 3vh;
    white-space: pre-wrap;
    line-height: normal;
}

main .container .text pre {
    font-size: 2vh;
    white-space: pre-wrap;
    line-height: normal;
}

main .container .signature-container {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 50%;
    text-align: right;
}

main .container .signature-container .signature {
    font-size: 2vh;
    text-align: center;
}

main .container .signature-container .signature .date {
    margin-top: -1.5vh;
}
