main .container {
    width: 100%;
    margin-top: 150px;
}

main .container .photo {
    width: 100%;
    text-align: center;
}

main .container .photo img {
    border-radius: 50%;
    width: 20%;
}

main .container .title {
    width: 100%;
    text-align: center;
}

main .container .title p {
    margin: 0 0 30px;
    font-size: 5em;
}

main .container .text {
    margin: 0 auto;
    width: 50%;
}

main .container .text p {
    font-size: 1;
}

main .container .signature-container {
    margin: auto;
    width: 50%;
    text-align: right;
}

main .container .signature-container .signature {
    float: right;
    text-align: center;
}

main .container .signature-container .signature .date {
    margin-top: -10px;
}