.container {
    display: flex;
    height: fit-content;
}

.container .contact-panel {
    display: flex;
}


/* info block */

.container .contact-panel .info {
    display: flex;
    flex-direction: column;
    margin-left: 2.5vw;
}

.container .contact-panel .info div {
    margin-top: 5vh;
    line-height: 2.5vh;
}

.container .contact-panel .info .contacts {
    display: flex;
    flex-direction: column;
}


/* feedback block */

.container .contact-panel .feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10vw;
    background-color: crimson;
    padding: 3vh;
    border-radius: 2vh;
}

.container .contact-panel .feedback-form label {
    display: none;
}

.container .contact-panel .feedback-form input {
    text-align: start;
    color: black;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}

#fname {
    flex-grow: 1;
}

#fmail {
    flex-grow: 1;
}

#fdecription {
    flex-grow: 5;
}

.container .contact-panel .feedback-form input:not(:last-child) {
    margin-bottom: 2vh;
}


.container .contact-panel .send {
    background: 0;
    border: 2px solid #78788c;
    outline: transparent;
    cursor: pointer;
    padding: 1.5vh;
    width: fit-content;
    color: black;
    margin-top: 3vh;
}