.shit {
    position: fixed;
    height: 100%;
    width: 100%;
    font-size: 10em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'road page', serif;
}
