main {
    min-height: calc(100vh - var(--header-height) - var(--main-margin-top) - var(--footer-height));
}

footer .container {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: var(--footer-height);
    left: 0;
    bottom: 0;
}

footer .container > *:not(.name) {
    margin-bottom: 1.5vh;
    padding-left: 1.7vh;
    padding-right: 1.7vh;
}

footer .container .socials {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 30vw;
}

footer .container .socials a {
    --icon-width: 4vh;
    --icon-height: 2.8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--icon-width);
    height: var(--icon-height);
    background-size: var(--icon-width) var(--icon-height);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
}

footer .container .socials a:not(:last-child) {
    margin-right: 1.8vh;
}

footer .container .socials .vk {
    background-image: url("../assets/icons/same/vk.svg");
}

footer .container .socials .vk:hover {
    background-image: url("../assets/icons/real/vk.svg");
}

footer .container .socials .instagram {
    background-image: url("../assets/icons/same/instagram.svg");
}

footer .container .socials .instagram:hover {
    background-image: url("../assets/icons/real/instagram.svg");
}

footer .container .socials .soundcloud {
    background-image: url("../assets/icons/same/soundcloud.svg");
}

footer .container .socials .soundcloud:hover {
    background-image: url("../assets/icons/real/soundcloud.svg");
}

footer .container .socials .youtube {
    background-image: url("../assets/icons/same/youtube.svg");
}

footer .container .socials .youtube:hover {
    background-image: url("../assets/icons/real/youtube.svg");
}

footer .container .name {
    align-self: flex-start;
    font-size: 5vh;
    width: 40vw;
    text-align: center;
}

footer .container .copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: .6vw;
    width: 30vw;
}
