footer {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 12vh;
}

footer > *:not(.name) {
    margin-bottom: 2vh;
    padding-left: 1.7vh;
    padding-right: 1.7vh;
}

footer .socials {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 30vw;
}

footer .socials a {
    --icon-width: 4vh;
    --icon-height: 2.8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--icon-width);
    height: var(--icon-height);
    background-size: var(--icon-width) var(--icon-height);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}

footer .socials a:not(:last-child) {
    margin-right: 1.8vh;
}

footer .socials .vk {
    background-image: url("../assets/icons/same/vk.svg");
}

footer .socials .vk:hover {
    background-image: url("../assets/icons/real/vk.svg");
}

/*footer .socials .vk:after {*/
/*    background-image: url("../assets/icons/real/vk.svg");*/
/*}*/

footer .socials .vk:hover:after {
    background-image: url("../assets/icons/real/vk.svg");
}

footer .socials .instagram {
    background-image: url("../assets/icons/same/instagram.svg");
}

footer .socials .instagram:hover {
    background-image: url("../assets/icons/real/instagram.svg");
}

footer .socials .soundcloud {
    background-image: url("../assets/icons/same/soundcloud.svg");
}

footer .socials .soundcloud:hover {
    background-image: url("../assets/icons/real/soundcloud.svg");
}

footer .socials .youtube {
    background-image: url("../assets/icons/same/youtube.svg");
}

footer .socials .youtube:hover {
    background-image: url("../assets/icons/real/youtube.svg");
}

footer .name {
    align-self: flex-start;
    font-size: 5vh;
    width: 40vw;
    text-align: center;
}

footer .copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.25vh;
    width: 30vw;
}
