main {
    margin-top: var(--main-margin-top);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    background-color: black;
    opacity: 0.95;
    z-index: 50;
}

header .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .container .logo {
    margin-left: 2vw;
    margin-top: 1vh;
}

header .container .logo img {
    width: 14vh;
}

header .container .logo a {
    display: flex;
    align-items: center;
    font-size: 3vh;
    text-decoration: none;
}

header .container nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100vw - 15vw);
}

header .container nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    float: right;
    padding: 0 1.5vw 0 0;
    list-style: none;
}

header .container nav ul li {
    margin-left: 1.5vw;
}

header .container nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 2vh;
    letter-spacing: 0.15vh;
    position: relative;
    transition: all 0.3s ease-in-out;
}

header .container nav ul li a:before,
header .container nav ul li a:after,
header .container nav ul li .selected:before,
header .container nav ul li .selected:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -0.3vh;
    background-color: #e8150c;
    transition-duration: 0.3s;
}

header .container nav ul li a:hover:before,
header .container nav ul li a:hover:after,
header .container nav ul li .selected:before,
header .container nav ul li .selected:after {
    width: 50%;
    height: 0.1vh;
}

header .container nav ul li a::before {
    left: 50%;
}

header .container nav ul li a::after {
    right: 50%;
}

header .container nav ul li a:hover {
    color: #e8150c;
}