:root {
    --play_button_height: 10vh;
    --play_button_width: 10vh;
}

main {
    margin-top: 15vh;
}

main .container {
    width: 100%;
}

main .container .track {
    width: 70%;
    margin: auto;
    display: flex;
}

main .container .track .cover {
    width: auto;
}

main .container .track .cover img {
    width: 50vh;
}

main .container .track .track-panel {
    margin-left: 5vh;
}

main .container .track .track-panel .track-info {
}

main .container .track .track-panel .track-info p {
    font-size: 3vh;
    font-weight: bold;
    margin: 0;
}

main .container .track .track-panel .track-info .name {
    margin-top: -0.5vh;
    margin-bottom: 1.5vh;
}

main .container .track .track-panel .player {
    padding-top: 10vh;
    padding-left: 5vh;
    width: 100%;
    height: 100%;
}

main .container .track .track-panel .player .play_button {
    width: var(--play_button_width);
    height: var(--play_button_height);
    background-size: var(--play_button_width) var(--play_button_height);
    background-image: url("../assets/images/play-button.svg");
    background-repeat: no-repeat;
}

main .container .track .track-panel .player .play_button:hover {
    background-image: url("../assets/images/play-button-hov.svg");
    background-repeat: no-repeat;
}